<% provide(:title, '問題一覧') %>
<div id="fh5co-portfolio">
  <div class="container">
    <% if @search_word.present? %>
      <h3>”<%= @search_word %>”の検索結果：<%= @problems.count %>件</h3>
    <% else %>
      <h3>問題一覧</h3>
    <% end %>
    <ul class="problems">
      <%= render @problems %>
    </ul>
    <%= will_paginate @rank, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;', inner_window: 1, outer_window: 0 %>
  </div>
</div>