<% provide(:title, 'All users') %>
<div id="fh5co-portfolio">
  <div class="container">
    <h1>ユーザー一覧</h1>
    <%= will_paginate %>
    <ul class="users">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </ul>
    <%= will_paginate %>
  </div>
</div>