<header class="navbar navbar-fixed-top">
 <div class="container">
  <%= link_to "studylog", root_path, id: "logo"%>
  <end>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li class="navitem"><%= link_to 'スタディログとは？', about_path, class: "navlink"%></li>
       <li class="navitem"><%= link_to "ユーザー登録",  signup_path, class: "navlink"%></li>
       <li class="navitem"><%= link_to "ログイン",   '#', class: "navlink"%></li>
     </ul>
   </nav>
 </div>
</header>