<header class="navbar navbar-fixed-top">
 <div class="container">
  <%= link_to "studylog", root_path, id: "logo"%>
  <end>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to 'スタディログとは？', about_path %></li>
       <li><%= link_to "ユーザー登録",   '#' %></li>
       <li><%= link_to "ログイン",   '#' %></li>
     </ul>
   </nav>
 </div>
</header>